* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main_section {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.card_area {
    background-color: #343E4F;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 550px;
    width: 750px;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
}

.card_area>h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 10px;
}

.card_area>.content_specer {
    width: 80%;
    margin: 50px 0;
    height: .5px;
    background-color: #656e7e;
}

.card_area>p {
    color: rgb(218, 218, 218);
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 7px;
    text-transform: uppercase;
    width: 85%;
    line-height: 2;
}

.social_icons {
    display: flex;
    margin: 30px;
}

.social_icon>.icon_class {
    color: white;
    height: 68px;
    width: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 35px;
    margin: 20px;
}

.social_icon>.facebook {
    background-color: #7492D2;
}

.social_icon>.twitter {
    background-color: #69B7CF;
}

.social_icon>.phone {
    background-color: #89BF93;
}

.social_icon>.envelope {
    background-color: #C289A4;
}